@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/bebas_neue/BebasNeue.otf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu-L.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu-LI.ttf);
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu-R.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu-RI.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: url(../fonts/ubuntu/Ubuntu-M.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu-MI.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    src: url(../fonts/ubuntu/Ubuntu-B.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu-BI.ttf);
    font-weight: bold;
    font-style: italic;
}
